# (Created by [TheM])

# General options
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=32000000
CONFIG_FLASH=y
CONFIG_XIP=y
CONFIG_PRINTK=y
CONFIG_INIT_STACKS=y
CONFIG_ENTROPY_GENERATOR=y
CONFIG_TEST_RANDOM_GENERATOR=y

# Platform-specific options
CONFIG_ARM=y
CONFIG_CORTEX_M_SYSTICK=y
CONFIG_SOC_TI_CC2538=y
CONFIG_BOARD_CC2538DK=y

# Logging
CONFIG_SYS_LOG=y
#CONFIG_SYS_LOG_DEFAULT_LEVEL=4
CONFIG_SYS_LOG_SHOW_TAGS=y
CONFIG_SYS_LOG_SHOW_COLOR=y
#CONFIG_SYS_LOG_OVERRIDE_LEVEL=4

# GPIO driver (SoC specific)
CONFIG_GPIO=y
CONFIG_GPIO_TI_CC2538=y
CONFIG_GPIO_TI_CC2538_DRIVER_INIT_PRI=0
CONFIG_GPIO_TI_CC2538_PORTA=y
CONFIG_GPIO_TI_CC2538_PORTB=y
CONFIG_GPIO_TI_CC2538_PORTC=y
CONFIG_GPIO_TI_CC2538_PORTD=y
CONFIG_GPIO_TI_CC2538_PORTC_IRQ_PRI=5

# UART driver (SoC specific)
CONFIG_CONSOLE=y
CONFIG_CONSOLE_HAS_DRIVER=y
#CONFIG_UART_CONSOLE_ON_DEV_NAME="UART_0" #set by device tree
CONFIG_SERIAL=y
CONFIG_SERIAL_HAS_DRIVER=y
CONFIG_SERIAL_SUPPORT_INTERRUPT=y
CONFIG_UART_CONSOLE=y
CONFIG_UART_INTERRUPT_DRIVEN=y
CONFIG_UART_TI_CC2538=y
CONFIG_UART_TI_CC2538_INTERRUPTDRIVEN=y #both should work
CONFIG_UART_TI_CC2538_UART0=y
CONFIG_UART_TI_CC2538_UART0_INSLEEP=y
CONFIG_UART_TI_CC2538_UART0_INDEEPSLEEP=y
#choose ONE of those below
#CONFIG_UART_TI_CC2538_UART0_CLOCK_SYSTEM=y #does not work
CONFIG_UART_TI_CC2538_UART0_CLOCK_PIOSC=y #does work

# RF Driver
CONFIG_IEEE802154=y
CONFIG_IEEE802154_TI_CC2538_RF=y
# CONFIG_IEEE802154_TI_CC2538_RF_RANDOM_MAC=y

# Network
#CONFIG_NETWORKING=y
#CONFIG_NET_UDP=y
#CONFIG_NET_TCP=y
#CONFIG_NET_IPV4=y
#CONFIG_NET_APP_NEED_IPV4=y
#CONFIG_NET_IPV6=y
#CONFIG_NET_APP_AUTO_INIT=y
#CONFIG_NET_APP_INIT_TIMEOUT=10
#CONFIG_NET_APP_NEED_IPV6=y
#CONFIG_NET_APP_NEED_IPV6_ROUTER=n

# Network application options and configuration
#CONFIG_NET_APP_SETTINGS=y
#CONFIG_NET_APP_SERVER=y
#CONFIG_NET_APP_CLIENT=y
#CONFIG_NET_DEBUG_APP=n
#CONFIG_NET_APP_MY_IPV4_ADDR="192.0.2.10"
#CONFIG_NET_APP_MY_IPV6_ADDR="2001:db8::10"
#CONFIG_NET_APP_PEER_IPV4_ADDR="192.0.2.20"
#CONFIG_NET_APP_PEER_IPV6_ADDR="2001:db8::20"

# Network buffers
#CONFIG_NET_PKT_RX_COUNT=8
#CONFIG_NET_PKT_TX_COUNT=8
#CONFIG_NET_BUF_RX_COUNT=16
#CONFIG_NET_BUF_TX_COUNT=16
#CONFIG_NET_CONTEXT_NET_PKT_POOL=y

# IP address options
#CONFIG_NET_IF_UNICAST_IPV6_ADDR_COUNT=1
#CONFIG_NET_IF_MCAST_IPV6_ADDR_COUNT=1
#CONFIG_NET_MAX_CONTEXTS=4


# Random
#CONFIG_XOROSHIRO_RANDOM_GENERATOR=y

# TI SDK
CONFIG_TI_CC2538_HAS_SDK=y
CONFIG_TI_CC2538_USE_SDK=y
CONFIG_TI_CC2538_USE_SDK_DRIVERLIB=y
